/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    color: #333;
}
.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    
}


/* Header */
header {
    background-color: lightcoral;
}

/* Main content */
main {
    background-color: lightblue;
}

/* Footer */
footer {
    background-color: orange;
}